.form-wrapper {
    width: 400px;
    margin-inline: auto;
    padding: 12px;
    border-radius: 8px;
    background: hsl(0, 0%, 99%);
    box-shadow: 1px 1px 5px hsl(240, 9%, 62%)
}

.form__text-input {
    width: 100%;
    outline: 1px solid hsl(0, 0%, 86%);
    padding: 6px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 4px hsl(0, 0%, 93%);
}

.form__text-input::placeholder {
    color: hsl(0, 0%, 73%)
}

.form__text-input:focus {
    outline: 2px solid hsla(206, 100%, 59%, 0.5);
}

.form__submit-btn {
    padding: 4px 12px;
    background: hsl(216, 91%, 60%);
    color: hsl(0, 0%, 100%);
    border-radius: 4px;
}

.form__submit-btn:hover {
    background: hsl(216, 91%, 56%);
}

@media (max-width: 600px) {
    .form-wrapper {
        width: 100%;
    }
}