.main-section {
    background-color: #d0e9ff;
    min-height: 350px;
    display: flex;
    align-items: center;
}

.main-section_container {
    width: min(1100px, 100% - 2rem);
    margin-inline: auto;
    height: 100%;
    display: flex;
}

.main-section__text {
    width: 50%;
    font-size: var(--fs-xl);
    font-weight: var(--fw-l);
    color: #173b6f;
}

.main-section__form-wrapper {
    width: 50%;
}

.chart-wrapper {
    width: min(1100px, 100% - 2rem);
    margin-inline: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 12px;
}