.chart-card {
    width: min(1000px, 100% - 2rem);
    margin-inline: auto;
    padding: 6px;
    border-radius: 12px;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 2px 2px 4px hsl(0, 0%, 74%)
}

.chart-card__title {
    font-size: var(--fs-m);
    font-weight: var(--fw-m);
    color: hsl(0, 0%, 58%)
}

@media (max-width: 950px) {
    .chart-card {
        width: 100%;
    }
}