.main-section {
    background-color: #d0e9ff;
    min-height: 350px;
    display: flex;
    align-items: center;
}

.main-section_container {
    width: min(1100px, 100% - 2rem);
    margin-inline: auto;
    height: 100%;
    display: flex;
}

.main-section__text {
    width: 50%;
    font-size: var(--fs-xl);
    font-weight: var(--fw-l);
    color: #173b6f;
}

.main-section__form-wrapper {
    width: 50%;
}

.chart-wrapper {
    width: min(1100px, 100% - 2rem);
    margin-inline: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

@media (max-width: 950px) {
    .main-section_container {
        display: block;
    }
    
    .main-section__text {
        width: 100%;
        text-align: center;
        font-size: var(--fs-l);
    }

    .main-section__form-wrapper {
        padding: 1rem 0;
        width: 100%
    };
}